<div class="row">
        <div class="col-md-12">
            <h1>Registraion</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="#" ng-submit="submit()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" ng-model="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" ng-model="email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit"  class="btn btn-primary" value="Registration">
                </div>
            </form>
        </div>
    </div>