<div class="row">
        <div class="col-md-12">
            <h1>Registraion</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" ng-model="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" id="password" ng-model="password" class="form-control">
                </div>
                 <div class="form-group">
                    <a href="/#/auth/">Auth</a>
                 </div>
                <div class="form-group">
                    <input type="button"  class="btn btn-primary"  ng-click="submit()" value="Registration">
                </div>
                <div ng-if="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
            </form>
        </div>
    </div>